<div class="container">
	<div class="jumbotron center">
		<h1>About Us</h1>
		<p>Created by Dexter Blair</p>
		<br />
		<p>This is an example webapp created as a clone of pinterest to practice RoR development skills!</p>
	</div>

