<div class="jumbotron">
	<h1>One Month Rails</h1>
	<p>Tutorial project for One Month Rails!</p>
	<p>Click here to <button type="button" class="btn btn-success"><%= link_to "Sign Up", '#' %></button></p>
</div>